{
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": false,
    "editor.formatOnPaste": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true
    
}